@use "../utilities/extends" as ext;
@use "../utilities/variables" as var;

/*Recursos*/

.card {
    border-radius: 0;

}

.recursos {
    font-family: "Roboto", sans-serif;
}

.card__btn--style,
.card__title--style {
    background-color: var.$colorNegro;
    color: var.$colorBlanco;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.card__btn--style:hover {
    background-color: var.$colorBlanco;
    color: var.$colorNegro;
    border: .1em solid var.$colorNegro;

}

.card__btn--style:focus {
    background-color: var.$colorBlanco;
    color: var.$colorNegro;
    border: .1em solid var.$colorNegro;
    text-decoration: underline;
}